button{
    padding: 15px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-family: 'Open Sans', 'sans-serif';
}

button:hover {
    background-color: #ececec;
}

button:active {
    background-color: #dfdfdf;
}
