<div class="navbar">

    <div class="user-details unselectable" *ngIf='this.stateService.userDetails && userAuth.isLoggedIn' (click)='openUserMenu()'>
        <div [className]="dropdownOpen ? 'user user-open' : 'user'">
            <mat-icon>account_circle</mat-icon>
            <p>
                {{this.stateService.userDetails.firstName}}
            </p>
            <p *ngIf='this.stateService.userDetails.firstName != this.stateService.userDetails.lastName'>
                {{this.stateService.userDetails.lastName}}
            </p>
        </div>
        <div [className]="dropdownOpen ? 'dropdown-content dropdown-content-open' : 'dropdown-content'">
            <a routerLink='/account' *ngIf='!stateService.userAuth.isAdmin'>my account</a>
            <a routerLink='/account/orders' *ngIf='!stateService.userAuth.isAdmin'>previous orders</a>
            <a (click)='stateService.forceLogout()'>logout</a>
        </div>
    </div>
    <div class="login-register" *ngIf='stateService.userAuth.isGuest'>
        <a routerLink='login'>Login</a> / <a routerLink='register'>Register</a>
    </div>
</div>